*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overscroll-behavior: none;
}

body{
    overscroll-behavior-y: contain;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}
#canvasMS{
    background: lightgray;
}